<h1>Sample app</h1>

<nav>
  <ul>
    <li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLinkActive="active" routerLink="/about">About</a></li>
    <li>
      <a routerLinkActive="active" routerLink="/products">Products</a>
      <ul>
        <li><a routerLinkActive="active" routerLink="/products/1">products/1</a></li>
        <li>
          <a routerLinkActive="active" routerLink="/products/2">products/2</a>
          <ul>
            <li><a routerLinkActive="active" routerLink="/products/2/reviews">products/2/reviews</a></li>
          </ul>
        </li>

      </ul>
    </li>
  </ul>
</nav>

<hr>
<app-breadcrumbs></app-breadcrumbs>
<hr>
<bcy-breadcrumbs></bcy-breadcrumbs>
<hr>

<router-outlet></router-outlet>
